* {
    font-family: 'Montserrat', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;


}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;

}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
}


body {
    background: #efefef;
}

li {
    list-style-type: none;
}


button {
    width: 180px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px;
    background: white;
    outline: none;
    border: 1px solid gray;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;

}

.container {
    display: flex;
    align-items: center;
    margin-top: 10%;
}


/*photoBlock*/


.photoBlock {
    width: 465px;
    height: 610px;
    background: #37b0ae;
    padding: 25px;
    position: relative;



}

.photoBlock__logo {
    width: 100px;
    height: 25px;

}

.mainPhoto__item {
    width: 675px;
    position: relative;
    left: -30%;
    top: 30px;
}

.photoBlockPhotos {
    width: 100px;
    z-index: 10;
    position: absolute;
    top: 25%;
    right: -50px;
}




.photoBlockPhotos__item {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    padding: 5px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);

}


/*infoBlock*/


.infoBlock {
    width: 540px;
    height: 700px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 100px;
    z-index: 1;
    position: relative;

}


.features {
    margin-top: 30px;

}


.textBlock {
    line-height: 200%;
}

.textBlock__item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
    background: #37b0ae;

}

.choiceBlock{
    display: flex;
    margin-top: 30px;

}

.choiceBlock p {
    margin-right: 15px;
}

.quantity {
    margin-top: 30px;
}

.quantityBlock {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    border: 1px solid gray;
    width: 105px;
}

.quantityBlock__item {
    width: 35px;
    height: 35px;
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityBlock__item:last-child {
    border-right: none;
}

.priceBlock {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.priceBlock__currentPrice {
    font-size: 36px;
    margin-right: 20px;

}

.priceBlock__oldPrice {
    display: flex;
    align-items: flex-end;
}


.photoBlockPhotos__item img{
     transition: all .5s ease-in-out;
 }


.buttonsBlock {
    display: flex;
    flex-wrap: nowrap;
}


/*HOVER*/

.choiceBlock p:hover {
    color:#37b0ae;
    cursor: pointer;
}

button:hover {
    color: white;
    background:#37b0ae;
    cursor: pointer;
    border: none;
}

.quantityBlock__item:hover {
    background:#37b0ae;
    cursor: pointer;
}

.quantityBlock__item-number:hover{
    background:none;
    cursor:default;
}

.photoBlockPhotos__item img:hover{
    transform: scale(2);
    cursor:pointer;
}


/*MEDIA*/

@media screen and (max-width:550px){
     .container {
         flex-direction: column;
         min-width: 450px;
 }
     .photoBlockPhotos {
         display: block;
 }
    .photoBlock {
        width: auto;
        height: 100%;
        background: #37b0ae;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }


    .photoBlockPhotos {
        width: auto;
        z-index: 10;
        position: static;
        top: auto;
        right: auto;
        display: flex;

    }
    .mainPhoto__item {
        width: auto;
        position: relative;
        left: auto;
        top:50px;

    }
    .infoBlock {
        width: 100%;
        height: auto;
        padding: 20px 20px 20px 50px;
        z-index: 1;
    }
    .wrapper {
        padding: 0px;
    }

    .photoBlockPhotos__item {

        margin-right: 15px;
        padding: 5px;


    }

    .photoBlock__logo {
        position:absolute;
        top: 20px;
        left: 20px;
    }
}






