* {
    font-family: 'Titillium Web', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: dodgerblue;
}

ul {
    list-style-type: none;
}

button {
    background-color: dodgerblue;
    color: white;
    width: 175px;
    height:45px;
    margin-top: 20px;
    margin-left: 20px;
}




.main_slider__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
}

.wrapper{
    max-width: 1250px;

    margin: 0 auto;
}

.header {
    width: 1250px;
    min-width: 300px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    display:flex;
    margin-left:100px;
    align-items: center;
}

.header_logo__box{
    width: 50px;
    height: 50px;
    background: dodgerblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo_text {
    font-size: 36pt;
    margin-left: 20px;
}




.header_list {
    display: flex;
    margin-right: 100px;


}

.header_list li {
    margin-left: 30px;
    list-style-type: none;
    font-size: 16pt;
    border-bottom: 3px solid rgba(0,0,0,0);


}

.header_list li:hover {
    border-bottom: 3px solid dodgerblue;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: red;
}

/*style main*/

main {
    width: 1250px;
    margin: 0 auto;
    position: relative;
}

.main_slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../img/sliderBack.png");
    background-repeat: no-repeat;
    height: 490px;


}

.main_slider__arrow-right {
    position: absolute;
    top: 220px;
    right: 80px;


}

.main_slider__arrow-left {
    position: absolute;
    top: 220px;
    left: 80px;

}

.main_info__block1-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_info {
    width: 1024px;
    margin: 0 auto;
}


.main_info__box {
    background-color: #5094f2;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_info__block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.main_info__box-second {
    background-color:#d94748;
}


.main_info__box-third {
    background-color:#ebbb11;
}

.main_info__item-text {
    margin-top: 30px;
}


.main_info__block2 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.main_info__block2-text2 {
    font-size: 24px;
}

.main_info__block2-text {
    font-size: 36px;
    margin-bottom: 30px;
}


.main_info__block2-box1 {
    text-align: center;
}


.main_info__list-title {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border-top: 2px solid gray;
}

.footer_text {
    margin-top: 30px;
    margin-bottom: 50px;
}

.main_info__block2-box2 {
    display: flex;
    align-items: flex-end;
    line-height: 35px;
}



.header_menu__burger {
    display: none;
    width: 60px;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    background-color: #5094f2;

}
.header_menu__burger span,
.header_menu__burger span::before,
.header_menu__burger span::after{
    position:absolute;
    width: 35px;
    height: 5px;
    background-color: white;

}

.header_menu__burger span {
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.header_menu__burger span::before {
    content:'';
    transform: translateY(-10px);
}

.header_menu__burger span::after {
    content:'';
    transform: translateY(10px);
}


@media screen and (max-width: 640px) {
    .wrapper{
        width: 100%;
        min-width: 600px;
    }
    .header_menu {
        display: none;
    }
    .header_menu__burger {
        display:block;
    }

    .main_block {
        width: 100%;
    }
    .main_info__block1 {
        display: block;
        margin-top: 60px;
    }
    .main_info{
        width:100%;


    }
    .main_info__list {
        margin-left: 30px;
    }
    .main_info__block2 {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .main_info__box {
        margin-right: 30px;

    }

    .main_info__block1-item {
        width: auto;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 50px;
        border-bottom: 3px solid gray;
        padding: 50px;

    }
    .main_slider {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .main_slider__img img{
        width: 100%;

    }
    .main_slider__text {
        width: 100%;
    }
    .header_logo {
        margin-left: 0px;
    }

    .header_menu__burger {
        display: block;
    }
    .header {
        width: 100%;
        padding: 20px;
    }
    .main_slider_arrows {
        display: none;
    }


}

